.homePage {
	// background-image: url(../../public/HomePage/Bacgraund.jpg);
	background-image: linear-gradient(315deg, #00ff1a 0%, #f6ff00 74%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100vw;
}

.toolbar {
	display: flex;
	justify-content: center;
}

